#footer(align='center')
  a(href='/') App
  | &nbsp;|  
  a(href='/page?name=who') Who
  | &nbsp;|  
  a(href='/page?name=what') What
  | &nbsp;|  
  a(href='/page?name=where') Where
  | &nbsp;|  
  a(href='/page?name=chat') Live Chat
  p
  div © BDub Technologies #{+new Date().getFullYear()} | Spark Core © Hex Labs, Inc. dba Spark Devices #{+new Date().getFullYear()}