doctype html
html(ng-app="myApp")
  head
    title= title
    //script(type='application/javascript', src='/js/jquery-1.9.1.js')
    script(type='application/javascript', src='http://code.jquery.com/jquery-1.10.1.min.js')

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/button_style.css')
    link(rel='stylesheet', href='/css/animate-custom.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,300italic,300italic', type='text/css')
    //link(rel='stylesheet', href='/css/web_fonts.css')

  body
    block content